
.lm-shadow{
    background:#fff;
    -moz-box-shadow: 2px 2px 10px #CBD0D3;
    -webkit-box-shadow: 2px 2px 10px #CBD0D3;
    box-shadow:2px 2px 10px #CBD0D3;
    padding: 60px 1em 1em 1em;
}
.f-divider_margin{
    margin:2rem;
}
.badge_padding{
    padding-bottom:1rem;
}
.badge_tag span{
    margin-right:5px;
}
.inp_display{
    display:none;
}
.p_center{
    text-align:center;
    font-size:8px;
    margin-bottom:0;
    padding-bottom:1rem;
}
.lm-shadow0{
    -moz-box-shadow: 7px 7px 12px grey;
    -webkit-box-shadow: 7px 7px 12px grey;
    box-shadow:7px 7px 12px grey;
}
.img-fluid0{
    max-width: 95%;
    height: auto;
}
.img_padding0{
    padding:0 0.5rem 1rem 0
}
.img-carousel{
    width: 100%;
    height: auto;
}
.float-right-p{
    position: fixed;
    z-index:99;
    right:0.5rem;
    bottom:6rem;
    opacity:0.2;

}
.float-right-p:hover{
    color: blue;
    opacity:0.9;
    cursor: pointer;
}