<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
	<meta name="description" content="" />
	<script th:src="@{/js/lm.js}"></script>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}" ></script>
    <script th:src="@{/js/highlight.pack.js}" ></script>
    <script th:src="@{/js/highlightjs-line-numbers.min.js}" ></script>
    <script th:src="@{/js/lm-toast.js}" ></script>
    <script th:src="@{/js/viewer.min.js}" ></script>
    <script th:src="@{/js/spin.min.js}" ></script>
    <script th:src="@{/js/ladda.min.js}" ></script>
	<script>window.jQuery || document.write('<script th:src="@{/js/bootstrap.bundle.min.js}"><\/script>')</script>
    <link rel="shortcut icon" type="image/x-iccnpmon" th:href="@{/image/lm_favicon.ico}">
    <link th:href="@{/css/iconfont.css}" rel="styleSheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="styleSheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/markdown.css}" rel="styleSheet" type="text/css">
    <link th:href="@{/css/gruvbox-dark.css}" rel="styleSheet" type="text/css">
    <link th:href="@{/css/lm-toast.css}" rel="styleSheet" type="text/css">
    <link th:href="@{/css/viewer.min.css}" rel="styleSheet" type="text/css">
    <link th:href="@{/css/icheck-bootstrap.min.css}" rel="styleSheet" type="text/css">
    <link th:href="@{/css/ladda-themeless.min.css}" rel="styleSheet" type="text/css">
    <title th:text="${blog.title}"></title>
  </head>
  <style type="text/css">
	.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }
    @media (min-width: 768px) {
      #content img{
        width:50%;
        /*width:768px;*/
        /*height:384px;*/
        /*left:50%;*/
        /*margin-left:-384px;*/
        /*position:relative;*/
      }
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
	  }
	 .my-sm-0:hover{
		background-color:orange;
	 }
     #discussantForm .form-group{
        margin-bottom: 0.2rem;
     }
	 .header-famliy{
		font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	 }
  </style>
  <body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background:linear-gradient(to bottom right,#3B7B9A, #0085c5, #00141d, #A5DEF1)!important">
      <a class="navbar-brand" href="/index/indexBlogs"><span>首页</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" style="margin:0">
          <li class="nav-item active">
            <a class="nav-link disabled" style="padding:0px;width:40px;height:40px;background: url(/image/lmlogo.png) -29px -35px no-repeat;" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/index/indexBlogs?parentCategoryId=lz">栗子生活</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/index/indexBlogs?parentCategoryId=back">Java</a>
          </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="输入关键字" aria-label="Search" id="searchStr">
          <button class="btn btn-outline-success my-2 my-sm-0" onclick="search()" style="color:#fff;border-color:orange;">Search</button>
        </div>
      </div>
    </nav>
  </header>
<canvas id="bubbles"></canvas>
<main role="main" id="main" class="lm-shadow" style="padding: 60px 1em 1em 1em;">
    <div style="margin:0em 0.1em 0em 0.5em;">
        <h1 th:text="${blog.title}"></h1>
    </div>
    <div>
      <input style="display: none;" id="blogId" th:value="${blog.id}"/>
      <span class="badge badge-light" th:text="${#dates.format(blog.sCt, 'yyyy年MM月dd日 HH:mm:ss')}"></span>
      <span class="badge badge-light" th:text="${blog.authorName}"></span>
      <span class="badge badge-primary iconfont icon-06tags" th:text="' ' +${blog.parentCategoryName}"></span>
      <span class="badge badge-pill badge-info iconfont icon-tag-o" th:text="' ' +${blog.categoryName}"></span>
      <div class="float-right">
        <span class="iconfont icon-xihuan4 "><p class="p-record" th:text="${blog.praiseNum}">0</p></span>
        <span class="iconfont icon-eye2 "><p class="p-record" th:text="${blog.blogView}">0</p></span>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #ddd;">
  <div id="content" class="container marketing" th:utext="${blog.content}" style="padding: 0;">
  </div>
  <div class="blog-bottom-btn">
    <button type="button" class="btn btn-danger iconfont icon-xihuan4" th:data-id="${blog.id}" onclick="praiseBlog(this.getAttribute('data-id'))">&nbsp喜欢</button>
    <button type="button" class="btn btn-primary iconfont icon-qian1" data-toggle="modal" data-target="#rewardAuthor">&nbsp打赏</button>
  </div>
  <!--留言区-->
  <div class="lm-shadow discuss" >
    <div id="discussantForm" >
      <div class="form-group row">
        <label for="discussant" class="col-sm-1 col-form-label iconfont icon-mingcheng"></label>
        <div class="col-sm-5">
          <input type="text" class="form-control form-control-sm" name="discussant" id="discussant" placeholder="昵称">
        </div>
        <label class="col-sm-1 col-form-label iconfont icon-xingbie"></label>
        <div class="col-sm-5">
          <div class="icheck-info inblock" style="margin-right:2rem;">
            <input type="radio" id="someRadioId1" name="discussantSex" value="1"/>
            <label for="someRadioId1"><span class="iconfont icon-fuzeren"> 男</span></label>
          </div>
          <div class="icheck-danger inblock">
            <input type="radio" id="someRadioId2" name="discussantSex" value="0"/>
            <label for="someRadioId2"><span class="iconfont icon-wode1"> 女</span></label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="discussantEmail" class="col-sm-1 col-form-label iconfont icon-youxiang"></label>
        <div class="col-sm-11">
          <input type="email" class="form-control form-control-sm" id="discussantEmail" name="discussantEmail" placeholder="Email（保密个人信息，仅做联系方式---可不填）">
        </div>
      </div>
      <div class="form-group row">
        <label for="discussantOpinion" class="col-sm-1 col-form-label iconfont icon-fayan2"></label>
        <div class="col-sm-11">
          <textarea class="form-control form-control-sm" aria-label="With textarea" name="discussantOpinion" id="discussantOpinion" placeholder="您的留言..."></textarea>
        </div>
      </div>
      <div style="text-align:center;">
        <button class="btn btn-sm btn-success ladda-button" data-style="expand-right" onclick="submitDiscussantOption()">提交</button>
      </div>
    </div>
    <div id="discussant-option">
      <input class="inp_display" id="pageIndex_inp" value="1"/>
    </div>
  </div>
  <!--modal start-->
  <div class="modal fade" id="rewardAuthor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding:4px;">
          <div style="width:44px;height:44px;background: url(/image/zonghelogo.png) -68px -24px no-repeat;margin:0"></div>
        </div>
        <div class="modal-body" >
          <img th:src="@{/image/zanshangma.png}" />
        </div>
      </div>
    </div>
  </div>
  <!--modal end-->
</main>
  <div class="float-right-p">
    <button type="button" class="btn btn-link float-btn"><div style="width:44px;height:44px;background: url(/image/zonghelogo.png) -68px -24px no-repeat;"></div></button>
<!--    <button type="button" class="btn btn-link float-btn"><div style="width:44px;height:44px;background: url(/image/zonghelogo.png) -318px -24px no-repeat;"></div></button>-->
    <button type="button" class="btn btn-link float-btn"><div style="width:44px;height:44px;background: url(/image/zonghelogo.png) -484px -24px no-repeat;"></div></button>
<!--    <button type="button" class="btn btn-link float-btn"><div style="width:44px;height:44px;background: url(/image/zonghelogo.png) -234px -24px no-repeat;"></div></button>-->
    <button type="button" class="btn btn-link float-btn" style="text-decoration:none;"><span id="toTop" onclick="backToTop()"  class="iconfont icon-icon-test back-to-top"></span></button>
  </div>
    <!-- FOOTER -->
    <footer class="footer_div">
    </footer>
    <div class="p_center">
      <ul>
        <li>&copy; 2019 LmOrange 蜀ICP备19015312号</li>
      </ul>
      <ul>
        <li><img src="/image/beiantubiao.png" style="width: 18px;height: 18px;"></li>
        <li>川公网安备 51010502010903号</li>
      </ul>
      <ul>
        <li>
          <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
          document.write(unescape("%3Cspan id='cnzz_stat_icon_1277763152'%3E%3C/span%3E%3Cscript src='" +
                  cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1277763152%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
        </li>
      </ul>
      <ul>
        <li>友情链接：</li>
        <li><a href="https://www.baidu.com" target="_blank" style="color: #ffffff">百度</a></li>
      </ul>
    </div>
</body>
  <script type="text/javascript" th:src="@{/js/canvas-bubbles.js}"></script>
  <script type="text/javascript" th:inline="javascript">
	$(document).ready(function(){
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
            hljs.initLineNumbersOnLoad();
        });
        $('#content img').viewer({toolbar:false,navbar:false,movable:false});
        getDiscussOpintion();
	});
    // 回到顶部
    function backToTop(){
      $('body,html').animate({scrollTop:0},500);
    }
    // 获取页面被卷起来的高度
    function scrollTop(){
      return Math.max(
              //chrome
              document.body.scrollTop,
              //firefox/IE
              document.documentElement.scrollTop);
    }
    // 点击搜索跳转
    function search(){
        var searchValue = $("#searchStr").val();
        window.open("/index/indexBlogs?searchStr="+ searchValue, "_self");
    }
    // 点赞
    function praiseBlog(id){
        $.ajax({
            type:"POST",
            url:"/blog/praiseBlog/" + id,
            success:function(data){
                var obj = data;
                if(!$.isEmptyObject(obj) && obj.success){
                    toast({
                        message: "谢谢您",
                        time:1000
                    });
                }else{
                    toast({
                        message: obj.msg,
                        time:1000
                    });
                }
              $(".blog-bottom-btn .icon-xihuan4").css("display", "none");
            }
        });
    }
    // 获取留言列表
    function getDiscussOpintion(){
        var pageIndex = $("#pageIndex_inp").val();
        var blogId = $("#blogId").val();
        var param = JSON.stringify({"blogId":blogId, "pageIndex":pageIndex, "pageSize":10});
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"/blog/blogDiscussantPageList",
            data: param,
            contentType: "application/json; charset=utf-8",
            success:function(data){
                var obj = data.data.records;
                if(!$.isEmptyObject(data) && obj.length > 0){
                    for(var i=0; i< obj.length; i++){
                        var html = spliceDiscussOption(obj[i]);
                        $("#discussant-option").append(html);
                    }
                    pageIndex = (+pageIndex) + 1;
                    $("#pageIndex_inp").val(pageIndex);
                }
            }
        });
    }

    // 拼接留言代码
    function spliceDiscussOption(obj){
        var html = "<hr class='featurette-divider'>";
        html = html + "<div class='discuss-box'>";
        html = html + "<div class='discussant_portrait'>";
        html = html + "<div class='bg_img"+obj.portrait+"'></div></div>";
        html = html + "<div class='discussant_opt'>";
        html = html + "<p><span class='discussant_name'>"+obj.discussant+"：</span>"+ obj.discussantOpinion +"</p>";
        html = html + "<ul>";
        html = html + "<li>"+ obj.createTime +"</li>";
        html = html + "<li>&nbsp赞("+ obj.praiseNum +")</li>";
        html = html + "</ul></div></div>";
        return html;
    }

    // 提交留言
    function submitDiscussantOption(){
        var discussant = $("#discussant").val();
        var discussantSex = $('input[name="discussantSex"]:checked').val();
        var discussantEmail = $("#discussantEmail").val();
        var discussantOpinion = $("#discussantOpinion").val();
        if(isNotEmpty(discussantOpinion) && isNotEmpty(discussantSex) && isNotEmpty(discussant)){
        }else{
            popupMessage("请把信息填写完整！");
            return;
        }
        var blogId = $("#blogId").val();
        var param = {"discussant":discussant, "discussantSex":discussantSex, "discussantEmail":discussantEmail,
            "discussantOpinion":discussantOpinion, "blogId":blogId};
        param = JSON.stringify(param);
        var ladda = Ladda.create(document.querySelector( '.ladda-button' ));
        ladda.start();
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"/blog/saveBlogDiscussant",
            contentType:"application/json; charset=utf-8",
            data:param,
            success:function(data){
                var obj = data;
                if(!$.isEmptyObject(obj) && obj.success){
                    popupMessage("提交成功");
                    addDiscussantOptionHtml(param);
                    resetForm();
                }else{
                    popupMessage(obj.msg);
                }
                ladda.stop();
            },
            error:function(){
                popupMessage("系统异常");
                ladda.stop();
            }
        });
    }

    function addDiscussantOptionHtml(obj){
        obj = JSON.parse(obj);
        obj["portrait"] = "0";
        obj["createTime"] = new Date().format("yyyy-MM-dd hh:mm:ss");
        obj["praiseNum"] = 0;
        var html = spliceDiscussOption(obj);
        $("#discussant-option").prepend(html);
    }

    function resetForm(){
        $("#discussant").val("");
        $("#discussantEmail").val("");
        $("#discussantOpinion").val("");
    }

    /**
     * 弹出提示
     */
    function popupMessage(textMsg){
        toast({
            message: textMsg,
            time:1000
        });
    }

    /**
     * 是否为空
     */
    function isNotEmpty(str) {
        if (str != '' && str != null && typeof str != 'undefined' && str.length > 0) {
            return true;
        }
        return false;
    }

    // 时间格式化处理
    Date.prototype.format = function(fmt) {
      var o = {
        "M+" : this.getMonth()+1,                 //月份
        "d+" : this.getDate(),                    //日
        "h+" : this.getHours(),                   //小时
        "m+" : this.getMinutes(),                 //分
        "s+" : this.getSeconds(),                 //秒
        "q+" : Math.floor((this.getMonth()+3)/3), //季度
        "S"  : this.getMilliseconds()             //毫秒
      };
      if(/(y+)/.test(fmt)) {
        fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
      }
      for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
          fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        }
      }
      return fmt;
    }
</script>
</html>
