<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="never">
    <meta name="keywords" content="">
	<meta name="description" content="" />
	<link th:href="@{/css/carousel.css}" rel="styleSheet" type="text/css"/>
	<link th:href="@{/css/common.css}" rel="styleSheet" type="text/css"/>
	<link th:href="@{/css/cikonss.css}" rel="styleSheet" type="text/css"/>
    <link th:href="@{/css/iconfont.css}" rel="styleSheet" type="text/css"/>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" type="image/x-iccnpmon" th:href="@{/image/favicon.ico}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/lm.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" ></script>
	<script>window.jQuery || document.write('<script th:src="@{/js/jquery-3.3.1.min.js}"><\/script>')</script>
    <title>lmorange</title>
  </head>
  <style type="text/css">
	.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }
    @media (min-width: 768px) {
		.bd-placeholder-img-lg {
		  font-size: 3.5rem;
		}
	  }
    .my-sm-0:hover{
		background-color:orange;

	 }
    .imghover{
		cursor: pointer;
		transition: all 0.5s;
	 }
    .imghover:hover{
		transform: scale(1.05);
	 }
    .load_div{
        padding: 5px 0;
        text-align:center;
		cursor: pointer;
	 }
    .load_div .load_status1{
		height:8em;
	 }
    .load_div .load_status2{
		height:3em;
	 }
    .load_active{
		display:block;
	 }
    .load_no_active{
		display:none;
	 }
    .blog_head{
         cursor: pointer;
     }
	 
  </style>
  <body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background:linear-gradient(to bottom right,#524E4D, #626063, #898989, #CBD0D3)!important">
    <a class="navbar-brand" href="#"><span>橙子</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link disabled" href="#">主页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">文章</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">版本</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:#fff;border-color:orange;">Search</button>
      </form>
    </div>
  </nav>
</header>

<main role="main">

  <div id="myCarousel" class="carousel slide" style="margin-bottom:2em;">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
            <defs><pattern id="bgId3" width="1" height="1"><image width="100%" height="100%" xlink:href="/image/bg3.jpg"></image></pattern>
            </defs><rect width="100%" height="100%" fill="#eee"/><image width="100%" height="100%" xlink:href="/image/bg3.jpg"></image></svg>
        <div class="container">			
          <div class="carousel-caption text-left">
            <h1>示例1号</h1>
            <p>内容未知.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">今天的登陆</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
            <defs><pattern id="bgId2" width="1" height="1"><image width="100%" height="100%" xlink:href="/image/bg3.jpg"></image></pattern></defs>
            <rect width="100%" height="100%" fill="#777"/><image width="100%" height="100%" xlink:href="/image/bg3.jpg"></image></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>实例二号</h1>
            <p>内容未知.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">学习更多</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" >
            <defs><pattern id="bgId3" width="1" height="1"><image width="100%" height="100%" th:href="@{/image/image3.jpg}"></image></pattern></defs>
            <rect width="100%" height="100%" fill="#777"/><image width="100%" height="100%" th:href="@{/image/bg3.jpg}"></image></svg>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>还有一个示例</h1>
            <p>内容未知.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">浏览器知识</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

    <div class="container marketing" >
        <div th:each="blog,stat : ${rows}">
            <div class="row featurette shadow p-3 mb-5 bg-white rounded"  th:if="${stat.odd}" >
                <input th:value="${stat.index}" class="inp_display"/>
                <div class="col-md-7">
                    <h2 class="featurette-heading blog_head" th:text="${blog.title}" th:data-id="${blog.id}" onclick="clickBlog(this.getAttribute('data-id'))">标题错误</h2>
                    <div class="badge_padding">
                        <span class="badge badge-light" th:text="${#dates.format(blog.sCt, 'yyyy年MM月dd日 HH:mm:ss')}"></span>
                        <span class="badge badge-light" th:text="${blog.authorName}"></span>
                        <span class="badge badge-pill badge-primary iconfont icon-tag-o" th:text="' ' + ${blog.categoryName}"></span>
                    </div>
                    <p class="lead" th:text="${blog.outline}">内容未知.</p>
                </div>
                <div class="col-md-5 imghover" th:data-id="${blog.id}" onclick="clickBlog(this.getAttribute('data-id'))">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 替换">
                        <defs>
                            <pattern id="imgId6" width="1" height="1">
                                <image width="100%" height="100%" th:href="@{${blog.imageUrl}}"></image>
                            </pattern>
                            <filter id="filter" x="0" y="0"><feGaussianBlur stdDeviation="5" /><feOffset dx="5" dy="5" /></filter>
                        </defs>
                        <rect fill="grey" filter="url(#filter)" width="95%" height="95%"/><rect width="95%" height="95%" fill="url(#imgId6)" /></svg>
                </div>
            </div>

            <div class="row featurette shadow p-3 mb-5 bg-white rounded" th:if="${stat.even}" >
                <input th:value="${stat.index}" class="inp_display"/>
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading blog_head" th:text="${blog.title}" th:data-id="${blog.id}" onclick="clickBlog(this.getAttribute('data-id'))">标题错误</h2>
                    <div class="badge_padding">
                        <span class="badge badge-light" th:text="${#dates.format(blog.sCt, 'yyyy年MM月dd日 HH:mm:ss')}"></span>
                        <span class="badge badge-light" th:text="${blog.authorName}"></span>
                        <span class="badge badge-pill badge-primary iconfont icon-tag-o" th:text="' ' + ${blog.categoryName}"></span>
                    </div>
                    <p class="lead" th:text="${blog.outline}">内容未知.</p>
                </div>
                <div class="col-md-5 order-md-1 imghover" th:data-id="${blog.id}" onclick="clickBlog(this.getAttribute('data-id'))">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 替换">
                        <defs>
                            <pattern id="imgId7" width="1" height="1">
                                <image width="100%" height="100%" th:href="@{${blog.imageUrl}}"></image>
                            </pattern>
                            <filter id="filter" x="0" y="0"><feGaussianBlur stdDeviation="5" /><feOffset dx="5" dy="5" /></filter>
                        </defs><rect fill="grey" filter="url(#filter)" width="95%" height="95%"/><rect width="95%" height="95%" fill="url(#imgId7)" /></svg>
                </div>
            </div>

        </div>
    </div>
  <!-- 加载loading -->
  <div id="load_div1" class="load_div load_no_active">
	<image th:src="@{/image/loading2.gif}" class="load_status1" />
  </div>
    <!-- click加载loading -->
  <div id="load_div2" class="load_div load_active" th:onclick="'clickLoading()'">
	<span style="color:#777;">点击加载</span>
	<span><image th:src="@{/image/point2.jpg}" class="load_status2" /></span>
  </div>
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</main>
</body>
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function(){
		$("#myCarousel").carousel('pause');
	});
	// 获取页面被卷起来的高度
	function scrollTop(){
		return Math.max(
		//chrome
		document.body.scrollTop,
		//firefox/IE
		document.documentElement.scrollTop);
	}
	// 获取页面文档的总高度
	function documentHeight(){
		//现代浏览器（IE9+和其他浏览器）和IE8的document.body.scrollHeight和document.documentElement.scrollHeight都可以
		return Math.max(document.body.scrollHeight,document.documentElement.scrollHeight);
	}
	// 获取页面浏览器的视口的高度
	function windowHeight(){
		//document.compatMode有两个取值。BackCompat：标准兼容模式关闭。CSS1Compat：标准兼容模式开启。
		return (document.compatMode == "CSS1Compat")?document.documentElement.clientHeight:document.body.clientHeight;
	}
	// 监听事件
	//$(window).on('scroll', function(){
		//console.log("各个高度" + scrollTop() +"和"+ windowHeight() +"和"+ documentHeight());
		//if(scrollTop() + windowHeight() >= (documentHeight() + 50)){
			//$("#load_div").addClass('load_active');
			//setTimeout('loadingData()',1000); 
		//}
	//});
	// 加载数据
	function loadingData(obj){
        var index = $(".inp_display:last").val();
        if(evenOrOdd(index)){
            $(".featurette:last").after("<div class='row featurette shadow p-3 mb-5 bg-white rounded'>"+
                "<input value='"+ ((+index) + 1) +"' class='inp_display'/>" +
                "<div class='col-md-7'>"+
                "<h2 class='featurette-heading blog_head' onclick='clickBlog(\"" + obj.id + "\")'>"+ obj.title +"</h2>"+
                "<div class='badge_padding'>"+
                "<span class='badge badge-light'>"+ obj.sCt +"</span>"+
                "<span class='badge badge-light'>"+ obj.authorName +"</span>"+
                "<span class='badge badge-pill badge-primary iconfont icon-tag-o'>&nbsp"+ obj.categoryName +"</span>"+
                "</div>"+
                "<p class='lead'>"+ obj.outline +"</p>"+
                "</div>"+
                "<div class='col-md-5 imghover' onclick='clickBlog(\"" + obj.id + "\")'>"+
                "<svg class='bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto' width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 替换'>" +
                "<defs><pattern id='imgId2' width='1' height='1'>" +
                "<image width='100%' height='100%' xlink:href='"+obj.imageUrl+"'></image>" +
                "</pattern><filter id='filter' x='0' y='0'><feGaussianBlur stdDeviation='5' /><feOffset dx='5' dy='5' /></filter>" +
                "</defs><rect fill='grey' filter='url(#filter)' width='95%' height='95%'/><rect width='95%' height='95%' fill='url(#imgId2)' /></svg>"+
                "</div>"+
                "</div>");
        }else{
            $(".featurette:last").after("<div class='row featurette shadow p-3 mb-5 bg-white rounded'>"+
                "<input value='"+ ((+index) + 1) +"' class='inp_display'/>" +
                "<div class='col-md-7 order-md-2'>"+
                "<h2 class='featurette-heading blog_head' onclick='clickBlog(\"" + obj.id + "\")'>"+ obj.title +"</h2>"+
                "<div class='badge_padding'>"+
                "<span class='badge badge-light'>"+ obj.sCt +"</span>"+
                "<span class='badge badge-light'>"+ obj.authorName +"</span>"+
                "<span class='badge badge-pill badge-primary iconfont icon-tag-o'>&nbsp"+ obj.categoryName +"</span>"+
                "</div>"+
                "<p class='lead'>"+ obj.outline +"</p>"+
                "</div>"+
                "<div class='col-md-5 order-md-1 imghover' onclick='clickBlog(\"" + obj.id + "\")'>"+
                "<svg class='bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto' width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false' role='img' aria-label='Placeholder: 替换'>" +
                "<defs><pattern id='imgId2' width='1' height='1'>" +
                "<image width='100%' height='100%' xlink:href='"+obj.imageUrl+"'></image>" +
                "</pattern><filter id='filter' x='0' y='0'><feGaussianBlur stdDeviation='5' /><feOffset dx='5' dy='5' /></filter>" +
                "</defs><rect fill='grey' filter='url(#filter)' width='95%' height='95%'/><rect width='95%' height='95%' fill='url(#imgId2)' /></svg>"+
                "</div>"+
                "</div>");
        }
		$("#load_div1").removeClass('load_active');
		$("#load_div1").addClass('load_no_active');
		$("#load_div2").removeClass('load_no_active');
		$("#load_div2").addClass('load_active');
	}
	// 点击加载
	function clickLoading(){
		$("#load_div1").removeClass('load_no_active');
		$("#load_div1").addClass('load_active');
		$("#load_div2").removeClass('load_active');
		$("#load_div2").addClass('load_no_active');
		setTimeout('imageBlogMore()',1000);
	}
    // 判断是奇数还是偶数
    function evenOrOdd(index){
        return (index%2 == 0) ? false : true;
    }
    // 点击博客跳转
    function clickBlog(blogId){
        window.open("/blog/blogDetail/"+blogId, "陈康博客")
    }
    // 得到更多
    function imageBlogMore(){
        $.ajax({
            type:"POST",
            url:"http://127.0.0.1:8888/index/indexBlogsMore",
            success:function(data){
                if(!$.isEmptyObject(data)){
                    var obj = data.data;
                    for(var i=0; i< obj.length; i++){
                        loadingData(obj[i]);
                    }
                }
            }
        });
    }
</script>
</html>
